In [2]:
import matplotlib.pyplot as plt
import sklearn
import sklearn.datasets
import pandas as pd

In [3]:
quarter = pd.read_csv("normalized/quarter.csv")
half = pd.read_csv("normalized/half.csv")
threequarter = pd.read_csv("normalized/threequarter.csv")
year = pd.read_csv("normalized/year.csv")

In [4]:
quarter

,date,city,statecode,dow,sp500,nasdaq,unemployment,housing
0,2003-04-01,Youngstown,OH,8480.09,916.92,1348.30,7.4,149781
1,2003-04-01,York,PA,8480.09,916.92,1348.30,5.0,149781
2,2003-04-01,Wichita,KS,8480.09,916.92,1348.30,6.2,149781
3,2003-04-01,Virginia Beach,VA,8480.09,916.92,1348.30,4.2,149781
4,2003-04-01,Tulsa,OK,8480.09,916.92,1348.30,6.1,149781
...,...,...,...,...,...,...,...,...
931583,2019-08-01,Austin,TX,26403.30,2926.46,8111.12,2.6,25524
931584,2019-08-01,Augusta,GA,26403.30,2926.46,8111.12,3.8,25524
931585,2019-08-01,Atlanta,GA,26403.30,2926.46,8111.12,3.4,25524
931586,2019-08-01,Anchorage,AK,26403.30,2926.46,8111.12,5.5,25524
931587,2019-08-01,Albuquerque,NM,26403.30,2926.46,8111.12,4.7,25524

In [5]:
X = quarter[['date', 'city', 'statecode', 'dow', 'sp500', 'nasdaq','unemployment']]
y = quarter["housing"].values.reshape(-1, 1)
print(X.shape, y.shape)

(931588, 7) (931588, 1)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X, y)

ValueError: could not convert string to float: '2003-04-01'