In [15]:
# Dependencies and Setup
import os
import pandas as pd

In [17]:
df = pd.read_csv("final_df_weights_added_columns.csv")
df.set_index('Ranking', inplace=True)
df.head()

,City,State,Average Salary,Median Houseing Cost,Median Rent,Average High Temperature,Average Low Temperature,Median Age,Unemployment Rate,Metro Population,Average Commute Time,Latitude,Longitude
Ranking,,,,,,,,,,,,,
1,Austin,Texas,"$51,840","$291,533","$1,155",79.7,54.8,34.2,2.9,2000590,26.8,30.3006,-97.7517
2,Denver,Colorado,"$57,400","$393,842","$1,203",64.6,36.2,36.3,3.0,2798684,27.5,39.7621,-104.8760
3,Colorado Springs,Colorado,"$50,050","$286,700","$1,070",62.1,35.7,34.4,3.7,695595,23.3,38.8674,-104.7610
4,Fayetteville,Arkansas,"$45,830","$177,942",$778,68.0,45.0,33.9,2.7,514166,21.1,36.0713,-94.1660
5,Des Moines,Iowa,"$50,600","$178,942",$857,60.3,41.4,35.7,2.4,623113,20.3,41.5725,-93.6105

In [18]:
df.to_html('CitySearchData.html')