In [47]:
import pandas as pd
df = pd.read_csv('CityDataFinal.csv')
df.head()

,ranking,city,statecode,avg_sal,med_h,med_r,avg_h_temp,avg_l_temp,med_age,unemp,...,mbs,rent12,rent_by_sal,rbs,rent_mtg_avg,rma_weight,our_rank,combined score,weighted score,rank
0,5,Des Moines,IA,50600,178942.0,857,60.3,41.4,35.7,2.4,...,9,10284,14%,14,12%,11.5,17,22,16.5,1
1,4,Fayetteville,AR,45830,177942.0,778,68.0,45.0,33.9,2.7,...,19,9336,17%,17,18%,18.0,71,75,22.0,2
2,12,Madison,WI,52190,247967.0,958,55.9,36.8,35.9,2.2,...,13,11496,11%,11,12%,12.0,37,49,24.0,3
3,11,Huntsville,AL,53600,167300.0,779,NaN,NaN,38.4,3.5,...,14,9348,16%,16,15%,15.0,47,58,26.0,4
4,2,Denver,CO,57400,393842.0,1203,64.6,36.2,36.3,3.0,...,29,14436,19%,19,24%,24.0,94,96,26.0,5

In [52]:
# Alex, I got the code to work for the first 2 columns but it was giving me trouble with the mtg30.
# I tried to get a dataframe from what I had and that did not work.
# my forhead is red from banging it on my desk. It's all yours. HOT POTATO!

def avgint(column):
    x = df[[column]].mean()
    y = x.real.astype(int)[0]
    return y



avgsdata = {'avgSalary': avgint("avg_sal"),
            'avgHouse(total)': avgint("med_h"),
#             'avgHouse(monthly)': avgint("mtg30"),
#             'avgRent(monthly)': avgint("rent12")
           }


# avgdf = pd.DataFrame(data = avgsdata, columns = ['avgSalary','avgHouse(total)','avgHouse(monthly)','avgRent(monthly)'])
avgdf = pd.DataFrame(data = avgsdata, columns = ['avgSalary','avgHouse(total)'])

C:\Users\ryand\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: `real` is deprecated and will be removed in a future version. To eliminate this warning for a Series `ser`, use `np.real(ser.to_numpy())` or `ser.to_numpy().real`.
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: If using all scalar values, you must pass an index